<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,484}</string>
                <key>spriteSourceSize</key>
                <string>{376,484}</string>
                <key>textureRect</key>
                <string>{{0,0},{376,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,484}</string>
                <key>spriteSourceSize</key>
                <string>{297,484}</string>
                <key>textureRect</key>
                <string>{{376,0},{297,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{673,0},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{833,0},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{993,0},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Base.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,900}</string>
                <key>spriteSourceSize</key>
                <string>{650,900}</string>
                <key>textureRect</key>
                <string>{{1153,0},{650,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,93}</string>
                <key>spriteSourceSize</key>
                <string>{242,93}</string>
                <key>textureRect</key>
                <string>{{3431,0},{242,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,359}</string>
                <key>spriteSourceSize</key>
                <string>{347,359}</string>
                <key>textureRect</key>
                <string>{{3673,0},{347,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>X.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,65}</string>
                <key>spriteSourceSize</key>
                <string>{62,65}</string>
                <key>textureRect</key>
                <string>{{4020,0},{62,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1628,754}</string>
                <key>spriteSourceSize</key>
                <string>{1628,754}</string>
                <key>textureRect</key>
                <string>{{1803,0},{1628,754}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DouYin.png</string>
            <key>size</key>
            <string>{4082,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:026f6141cfd301399ea33dd440613f28:a8decf1c44c841732a68a289f5fb82b7:9aae139a211ecd2f7e743e9b06a04dcf$</string>
            <key>textureFileName</key>
            <string>DouYin.png</string>
        </dict>
    </dict>
</plist>
